@model WebApplication1.ViewModels.StudentIndexViewModel
@{
    ViewData["Title"] = "Student View";
}

<body>
    <table>
        @foreach (var student in Model.Students)
        {
            <tr>
                <td>@student.StudentName</td>
                <td>

                    <a href="/Student/Details/@student.Id">Details</a>
                </td>
            </tr>

        }
    </table>

    @*@foreach (var student in Model.Students)
        {
            var number = (@student.CurrentTotal / 100) * 725;

            <div>
                @student.StudentName : @student.CurrentTotal
            </div>
        }*@

    @*<div style="height:20px"></div>
        <a asp-action="AddGoal">Add Goal</a>
        |
        <a asp-action="DeleteGoal">Delete Goal</a>*@

    @*<svg height="210" width="1125">
            <line x1="10" y1="100" x2="1125" y2="100" style="stroke:rgb(0,0,0);stroke-width:2" />
            <line x1="200" y1="10" x2="200" y2="190" style="stroke:rgb(0,0,0);stroke-width:2" />
            <text x="200" y="190" fill="black">0</text>
            <line x1="925" y1="10" x2="925" y2="190" style="stroke:rgb(0,0,0);stroke-width:2" />
            <text x="925" y="190" fill="black">100</text>
            @foreach (var student in Model.Students)
            {
                //var number = (@student.CurrentTotal / 100) * 725;
                <line x1=@student.GraphValue y1="55" x2=@student.GraphValue y2="145" style="stroke:rgb(76, 255, 0);stroke-width:2" />
                //<text x= y="145" fill="black">@student.StudentName</text>
            }
        </svg>*@

</body>